h1,h2,h3,h4,h5, button, .amiibo-name{
    font-family: 'Bitter', serif;

}
#navbar{
    z-index: 1;
    background-color: rgba(248, 36, 36, 0.836);
}

#ribbon{
    background-color: rgb(219, 26, 26);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(131, 21, 21, 0.5) 25px, rgba(131, 21, 21, 0.5) 40px);
}

#ribbon2{
    background-color: rgb(26, 219, 155);
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(23, 138, 23, 0.5) 25px, rgba(23, 138, 23, 0.5) 40px);
}

#ribbon::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50%;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}


#icono{
    background-color: rgb(219, 26, 26);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


#icono img{
    position: relative;
    margin-top: -30px;
}

#estrenos{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

.card-border{
    border: solid 1px #06c1fab4;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}

.text-shadow{
    text-shadow: 0 3px 3px rgba(0,0,0,0.6);
}

.text-center {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#container-blog {
    background: url(../img/bg-03.png);
}

#cards{   
    background: url(../img/bg-04.png);
    background-color: rgb(255, 255, 219);
    background-size: 40px 40px;
}

#nosotros {
    background-image: url(../img/cine.jpg);
}

.opacidad {
    background-color: rgb(0 0 0 / 65%);
}

#movies {
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(99,196,255,1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
}

#footer{
    background: url(../img/bg-04.png);
    background-color: rgb(224, 144, 24);
    background-size: 50px 50px;
}
